{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'sstvgallery/style.css' %}">

<h1>SSTV Gallery</h1>

<div class="topnav">
    <a href="{% url 'gallery' %}">Gallery</a>
    <a class="active" href="{% url 'about' %}">About</a>
</div>
<h2>A Gallery of User-Submitted Images, Uploaded by Radio</h2>
<div class="about">
    <p>This is my SSTV Gallery. It is a system consisting of a web server and a computer-controlled VHF radio station which can receive images transmitted over the air using the <a href="https://en.wikipedia.org/wiki/Slow-scan_television">Robot36 SSTV mode</a>. Anyone can upload an image to the site by finding the receiver and transmitting a properly encoded image at the frequency 145.500 MHz. Below is a diagram of how the system functions.</p>
    <h3>System Diagram</h3>
    <img src="{% static 'sstvgallery/diagram.png' %}" alt="system diagram">

    <h3 id="tabledescription">DTMF Command Reference:</h3>
    <table id="dtmfreference" aria-describedby="tabledescription" sumamry="A reference of the different DTMF commands for the station and the station's responses">
        <tr>
            <th scope="col">DTMF Command</th> <th scope="col">Station Response</th>
        </tr>
        <tr>
            <td>1</td><td>Listen for SSTV</td>
        </tr>
        <tr>
            <td>2</td><td>Transmit the current view from the station's onboard camera</td>
        </tr>
        <tr>
            <td>3</td><td>Transmit the most recent image from the database</td>
        </tr>
        <tr>
            <td>4</td><td>Transmit a random image from the database</td>
        </tr>
    </table>

    <h3>Made using:</h3>
    <ul>
        <li><a href="https://www.djangoproject.com/">Django: The web framework for perfectionists with deadlines</a></li>
        <li><a href="https://www.django-rest-framework.org/">Django REST framework</a> used for the site's <a href="/api/">browsable api</a></li>
        <li><a href="https://github.com/xdsopl/robot36">Robot36, a program written in C for encoding and decoding SSTV Images</a></li>
        <li><a href="https://ffmpeg.org/">FFmpeg</a></li>
        <li><a href="https://github.com/lpulley/dtmf-stream">dtmf-stream written by Logan Pulley, a Python module for decoding DTMF tones</a></li>
    </ul>
    
    <h3>Additional Info</h3>
    <p>I will be updating the site with the receiver's location. I may in the future have multiple receivers at various locations if possible.</p>
    <p>Special thanks to <a href="https://pulley.host">Logan Pulley</a> for writing <a href="https://github.com/lpulley/dtmf-stream">dtmf-stream</a>, the DTMF decoding module used to write the station code, as well as hosting the site on his server.</p>
    
    <h3>Contact</h3>
    <p>Feel free to contact me at <a href="mailto:wilson@kneiszel.com">wilson@kneiszel.com</a> with questions or feedback.</p>
</div>