{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'sstvgallery/style.css' %}">

<h1>SSTV Gallery</h1>

<div class="topnav">
    <a href="{% url 'gallery' %}">Gallery</a>
    <a href="{% url 'about' %}">About</a>
</div>

<h2>Image Received on {{ image.receive_date }}</h2>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<img src = '{{ image.photo.url }}' alt='{{ image.id }}'>

{% if image.votes %}
<p>Rating : {{ image.rating }}/10</p>
{% else %}
<p>oof no votes yet. Perhaps you'd like to be the first to vote. </p>
{% endif %}

<form action="{% url 'vote' image.id %}" method="post">
    {% csrf_token %}
    I give this image <input type="number" id="rating" name="rating" min="1" max="10" placeholder="Rating...">/10
    <input type="submit" value="Vote">
</form>

<form action="{% url 'comment' image.id %}" method="post">
    {% csrf_token %}
    <input type="text" maxlength="50" name="commentor" id="commentor_name" placeholder="Name...">
    <input type="text" name="comment_text" id="comment" placeholder="Comment text...">
    <input type="submit" value="Submit Comment">
</form>

{% for comment in comments %}
    <div class="comment"><strong>{{comment.commentor}}</strong> <em>({{comment.comment_date}})</em>: {{comment.comment_text}}</div>
{% endfor %}