{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'sstvgallery/style.css' %}">

<h1>SSTV Gallery</h1>

<div class="topnav">
    <a class="active" href="{% url 'gallery' %}">Gallery</a>
    <a href="{% url 'about' %}">About</a>
</div>



<form action={% url 'sort' %}>
    <label for="sorting">Sort by</label>
    <select id="sorting" name="sorting">
        <option value="newest" {% if sorting == 'newest' %} selected {% endif %}>Date Received: Newest First</option>
        <option value="oldest" {% if sorting == 'oldest' %} selected {% endif %}>Date Received: Oldest First</option>
        <option value="top" {% if sorting == 'top' %} selected {% endif %}>Rating: Highest First</option>
        <option value="bottom" {% if sorting == 'bottom' %} selected {% endif %}>Rating: Lowest First</option>
        <option value="most_comments" {% if sorting == 'most_comments' %} selected {% endif %}>Number of Comments: Highest First</option>
        <option value="least_comments" {% if sorting == 'least_comments' %} selected {% endif %}>Number of Comments: Lowest First</option>
    </select>
    <input type="submit">
</form>

{% if latest_images_list %}
    {% for image in latest_images_list %}   
        <a href="{% url 'detail' image.id %}"><img class="gallery_img" src="{{ image.photo.url }}" alt="{{image.id}}"></a>
    {% endfor %}
{% else %}
    <p>No images are available.</p>
{% endif %}