{% load static %}

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0" nonce="Vg0uSNSB"></script>

<div class="sharing">
    
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button share_button" data-text="SSTV Image Gallery" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <div class="fb-share-button share_button" data-href="https://sstv.kneiszel.com{{ image.photo.url }}" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Finvalid.invalid%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>

    <script class="share_button" async src="https://telegram.org/js/telegram-widget.js?12" data-telegram-share-url="https://sstv.kneiszel.com{{ image.photo.url }}" data-comment="SSTV Image Gallery"></script>

</div>